force-app/main/default/flows/car_swap.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>carInsurancePrice</name>
        <label>車両保険金額</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>carInsurance_general</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>CheckOther</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:carPrice</name>
            <value>
                <elementReference>carPrice</elementReference>
            </value>
        </inputParameters>
        <nameSegment>carInsurance_general</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <description>車両保険には『一般条件』と『車対車＋限定危険』の2種類がございます。
  　簡単にご説明いたします。」
  車両保険には２つの補償タイプがございます。
  それぞれの特徴を簡単にご説明いたします。
  1. **一般条件**
    - 補償範囲が広く、**ご自身の運転ミスによる単独事故**（ガードレール・電柱への衝突など）も補償されます。
    - **他の車との衝突・当て逃げ・盗難**など、ほとんどの事故が対象です。
    - 安全・安心を重視されるお客さまにおすすめです。
  2. **車対車＋限定危険**
    - 補償範囲を限定し、保険料を抑えたタイプです。
    - **他の車との衝突・盗難・火災・台風などの自然災害**は補償対象ですが、
      **単独事故（ガードレールや自転車との接触など）**は対象外です。
    - 費用を抑えつつ必要な補償を確保したいお客さまにおすすめです。</description>
        <name>carInsuranceType</name>
        <label>車両保険補償タイプの説明</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Checkdummy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckOther</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>このステップはエージェント指示『20. 住所の確認』に対応</description>
        <name>CheckAddress</name>
        <label>住所の確認</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Checkdummy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckTelNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>このステップはエージェント指示『19.福祉車両割引の確認』に対応</description>
        <name>CheckAssistive</name>
        <label>福祉車両割引の確認</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Checkdummy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckAddress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>このステップはエージェント指示『13.車名の確認』に対応</description>
        <name>CheckCarName</name>
        <label>車名の確認</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Checkdummy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckHybrid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>このステップはエージェント指示『17.車台番号の確認』に対応</description>
        <name>CheckCarNumber</name>
        <label>車台番号の確認</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Checkdummy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckExpiryDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>このステップはエージェント指示『11.型式の確認』に対応</description>
        <name>CheckCarType</name>
        <label>型式の確認</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Checkdummy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckFuel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>このステップはエージェント指示『7.変更日の確認』に対応</description>
        <name>CheckChangeDate</name>
        <label>変更日の確認</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Checkdummy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRegisterDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>このステップはエージェント指示『6.契約内容の確認』に対応</description>
        <name>CheckContract</name>
        <label>契約内容の確認</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Checkdummy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckChangeDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>このステップはエージェント指示『23.運転者条件の確認』に対応</description>
        <name>CheckDriverCondition</name>
        <label>運転者条件の確認</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Checkdummy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckCarInsuranceOld</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>このステップはエージェント指示『18.車検満了日の確認』に対応</description>
        <name>CheckExpiryDate</name>
        <label>車検満了日の確認</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Checkdummy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckAssistive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>このステップはエージェント指示『12.燃料種類の確認』に対応</description>
        <name>CheckFuel</name>
        <label>燃料種類の確認</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Checkdummy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckCarName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>このステップはエージェント指示『2.納車日の確認』に対応</description>
        <name>CheckGetDate</name>
        <label>納車日の確認</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Checkdummy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckOldCar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>このステップはエージェント指示『14.ハイブリッド車の確認』に対応</description>
        <name>CheckHybrid</name>
        <label>ハイブリッド車の確認</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Checkdummy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckConnected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>このステップはエージェント指示『16.ナンバーの確認』に対応</description>
        <name>CheckNumber</name>
        <label>ナンバーの確認</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Checkdummy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckCarNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CheckOther</name>
        <label>他変更有無の確認</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Checkdummy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dummy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>このステップはエージェント指示『22.使用目的の確認』に対応</description>
        <name>CheckPurpose</name>
        <label>使用目的の確認</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Checkdummy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckDriverCondition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>このステップはエージェント指示『9.登録年月日等確認』に対応</description>
        <name>CheckRegisterDate</name>
        <label>登録年月日、初度登録年月、自動車の種別・形状の確認</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Checkdummy</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>CheckUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>このステップはエージェント指示『21.連絡先の確認』に対応</description>
        <name>CheckTelNumber</name>
        <label>連絡先の確認</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Checkdummy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckPurpose</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>このステップはエージェント指示『10.所有者・使用者確認』に対応</description>
        <name>CheckUser</name>
        <label>所有者・使用者確認</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Checkdummy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckCarType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>このステップはエージェント指示『5.本人確認』に対応</description>
        <name>CheckVarification</name>
        <label>本人確認</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Checkdummy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>旧車両の補償は終了する旨を通知</description>
        <name>compensationEndAnnounce</name>
        <label>補償終了案内</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Checkdummy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckVarification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>dummy</name>
        <label>ダミー出力割り当て</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>dummyOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>「今回のご変更による保険料の増減はございません。」</description>
        <name>NoChangeFee</name>
        <label>保険料の変動有無（変更なし）</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Checkdummy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckOther</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>car_register_doc</name>
        <label>車検証有無</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>車検証無</defaultConnectorLabel>
        <rules>
            <name>car_register_doc_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCarRegiterDocPresence</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckGetDate</targetReference>
            </connector>
            <label>車検証有</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCarInsuranceNew</name>
        <label>新車両保険付帯希望確認</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>NoChangeFee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>新車両保険付帯希望無</defaultConnectorLabel>
        <rules>
            <name>CarInsuranceNew_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCarInsurance_new</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>carInsuranceType</targetReference>
            </connector>
            <label>新車両保険付帯希望有</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCarInsuranceOld</name>
        <label>旧車両保険の確認</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CheckCarInsuranceNew</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>旧車両保険無</defaultConnectorLabel>
        <rules>
            <name>CarInsuranceOld_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCarInsurance_old</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>carInsurancePrice</targetReference>
            </connector>
            <label>旧車両保険有</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckConnected</name>
        <label>コネクティッドの確認</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CheckContinueConnected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>新車両がコネクティッド対象</defaultConnectorLabel>
        <rules>
            <name>connected_no</name>
            <conditionLogic>(1 AND 2)  OR  (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>isConnected_old</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isConnected_new</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isConnected_old</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isConnected_new</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckNumber</targetReference>
            </connector>
            <label>新車両がコネクティッド対象外</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckContinueConnected</name>
        <label>コネクティッド継続希望確認</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CheckNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>継続無</defaultConnectorLabel>
        <rules>
            <name>ContinueConnected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isContinueConnected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckNumber</targetReference>
            </connector>
            <label>継続有</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOldCar</name>
        <label>旧車両状況の確認</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>compensationEndAnnounce</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>旧車両が手元にない</defaultConnectorLabel>
        <rules>
            <name>HasOldCar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OldCarStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckVarification</targetReference>
            </connector>
            <label>旧車両が手元にある</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>車両入替 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>車両入替</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>car_register_doc</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>carPrice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Checkdummy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dummyOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isCarInsurance_new</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isCarInsurance_old</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isCarRegiterDocPresence</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isConnected_new</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isConnected_old</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isContinueConnected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OldCarStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>register_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
