force-app/main/default/flows/chatSummary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ResponseSummary</name>
        <label>回答要約</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>UserResponseSummaryAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>summaryTemple</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bondNumber</name>
            <value>
                <elementReference>bondNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>carModel</name>
            <value>
                <elementReference>carModel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>carName</name>
            <value>
                <elementReference>carName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>carNumber</name>
            <value>
                <elementReference>carNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>carShape</name>
            <value>
                <elementReference>carShape</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>carType</name>
            <value>
                <elementReference>carType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactNumber</name>
            <value>
                <elementReference>contactNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dateFirstRegistration</name>
            <value>
                <elementReference>dateFirstRegistration</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>deliveryDate</name>
            <value>
                <elementReference>deliveryDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expirationDate</name>
            <value>
                <elementReference>expirationDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fuelType</name>
            <value>
                <elementReference>fuelType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isCarInsurance</name>
            <value>
                <elementReference>isCarInsurance</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isChangeAddress</name>
            <value>
                <elementReference>isChangeAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isChangeMeigi</name>
            <value>
                <elementReference>isChangeMeigi</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isConnected</name>
            <value>
                <elementReference>isConnected</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isHybrid</name>
            <value>
                <elementReference>isHybrid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isWelfare</name>
            <value>
                <elementReference>isWelfare</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newPrice</name>
            <value>
                <elementReference>newPrice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>registerDate</name>
            <value>
                <elementReference>registerDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vehicleNumber</name>
            <value>
                <elementReference>vehicleNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UserResponseSummaryAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Summary</name>
        <label>Send Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>WebhookSite.sendSummary</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>requestBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WebhookSite.sendSummary</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>summaryTemple</name>
        <label>会話要約テンプレート</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>summaryChat</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>assign</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:OutputSummary</name>
            <value>
                <elementReference>ResponseSummary.summary</elementReference>
            </value>
        </inputParameters>
        <nameSegment>summaryChat</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>割り当て</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>requestBody.summary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>summaryTemple.promptResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Summary</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>会話の要約 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>会話の要約</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ResponseSummary</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bondNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>carModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>carName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>carNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>carShape</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>carType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dateFirstRegistration</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deliveryDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>expirationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fuelType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isCarInsurance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isChangeAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isChangeMeigi</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isConnected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isHybrid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isWelfare</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newPrice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>registerDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requestBody</name>
        <apexClass>ExternalService__WebhookSite_sendSummary_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>summaryText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vehicleNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
