force-app/main/default/flows/Get_Cases_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_Summary_Prompt</name>
        <label>Case Summary Prompt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case_Summary_Prompt</actionName>
        <actionType>generatePromptResponse</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Description</name>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case_Summary_Prompt</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>output_text</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>input_case_info</name>
        <label>ケース件名、説明の割り当て</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>roop.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Description</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>roop.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>roop</targetReference>
        </connector>
    </assignments>
    <description>取引先に紐づく指定した期間のケースを取得し、ケースサマリーと課題を出力</description>
    <environments>Default</environments>
    <interviewLabel>Get Cases Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Cases Flow</label>
    <loops>
        <name>roop</name>
        <label>ケース件数分ループ</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>get_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>input_case_info</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Case_Summary_Prompt</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Case</name>
        <label>ケースの取得</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>roop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>start_date</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>end_date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ケースレコードを取得する際の終了の日付を入力</description>
        <name>end_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ケース情報のサマリーおよび課題を出力</description>
        <name>output_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>開いている取引先レコードのIDを入力</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ケースレコードを取得する際の開始の日付を入力</description>
        <name>start_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
