force-app/main/default/flows/Identity_Varification_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex</name>
        <label>変数をApexに値渡（名前、自動車登録番号）</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IdentityVerificationVerifyCarNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>finalJudge_carNumber</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>carNumber</name>
            <value>
                <elementReference>car_number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IdentityVerificationVerifyCarNumber</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>FlowToApex_Any</name>
        <label>変数をApexに値渡（住所、生年月日、電話番号いずれか）</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IdentityVerificationCustomerInfoAny</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>finalJudge_any</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>address</name>
            <value>
                <elementReference>address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>birth</name>
            <value>
                <elementReference>birth</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>bondNumber</name>
            <value>
                <elementReference>bondNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>telNumber</name>
            <value>
                <elementReference>tel_number</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IdentityVerificationCustomerInfoAny</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>FlowToApex_bondNumber_name</name>
        <label>変数をApexに値渡し（証券番号、名前）</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IdentityVerificationVerifyContract</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>assign</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bondNumber</name>
            <value>
                <elementReference>bondNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IdentityVerificationVerifyContract</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>FlowToApex_customerInfo</name>
        <label>変数をApexに値渡（名前、住所、電話番号、生年月日）</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IdentityVerificationVerifyCustomerInfo</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>finalJudge_all</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>address</name>
            <value>
                <elementReference>address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>birth</name>
            <value>
                <elementReference>birth</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>telNumber</name>
            <value>
                <elementReference>tel_number</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IdentityVerificationVerifyCustomerInfo</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>FlowToApex_name</name>
        <label>変数をApexに値渡し（顧客名）</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IdentityVerificationExistsCustomerName</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>name_presence</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IdentityVerificationExistsCustomerName</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>tel_birth_presence</name>
        <label>電話番号・生年月日の登録有無確認</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IdentityVerificationHasTelAndBirth</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>judge_tel_birth</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IdentityVerificationHasTelAndBirth</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>結果割りあて</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isMatchFirst</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FlowToApex_bondNumber_name.isMatch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>judge_ContractMatch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>finalJudge_all</name>
        <label>最終結果割り当て（すべて）</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isMatchFlowTel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FlowToApex_customerInfo.isMatch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>judge_customerInfo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>finalJudge_any</name>
        <label>最終結果割り当て（いずれか）</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isMatchFlowAny</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FlowToApex_Any.isMatch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>judgeContractInfo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>finalJudge_carNumber</name>
        <label>最終結果割り当て（自動車登録）</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isMatchFlowCarNo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Apex.isMatch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>judge_carNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>KeepName</name>
        <label>名前保持</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>tel_birth_presence</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>false</name>
        <dataType>Boolean</dataType>
    </constants>
    <constants>
        <name>true</name>
        <dataType>Boolean</dataType>
    </constants>
    <decisions>
        <name>bondNumber_presence</name>
        <label>証券番号有無</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>FlowToApex_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>証券番号無</defaultConnectorLabel>
        <rules>
            <name>bondNumber_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isBondNumberEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FlowToApex_bondNumber_name</targetReference>
            </connector>
            <label>証券番号有</label>
        </rules>
    </decisions>
    <decisions>
        <name>judge_carNumber</name>
        <label>自動者登録番号一致判定</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>自動車登録番号不一致</defaultConnectorLabel>
        <rules>
            <name>carNumber_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isMatchFlowCarNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>自動車登録番号一致</label>
        </rules>
    </decisions>
    <decisions>
        <name>judge_ContractMatch</name>
        <label>契約情報一致判定</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>契約情報不一致</defaultConnectorLabel>
        <rules>
            <name>isContractMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isMatchFirst</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FlowToApex_Any</targetReference>
            </connector>
            <label>契約情報一致</label>
        </rules>
    </decisions>
    <decisions>
        <name>judge_customerInfo</name>
        <label>顧客情報一致判定</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>契約情報不一致</defaultConnectorLabel>
        <rules>
            <name>cuttomerInfo_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isMatchFlowTel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>契約情報一致</label>
        </rules>
    </decisions>
    <decisions>
        <name>judge_tel_birth</name>
        <label>電話番号・生年月日の登録有無判定</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Apex</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>電話番号・生年月日の登録無</defaultConnectorLabel>
        <rules>
            <name>tel_birth_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tel_birth_presence.hasTelAndBirth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FlowToApex_customerInfo</targetReference>
            </connector>
            <label>電話番号・生年月日の登録有</label>
        </rules>
    </decisions>
    <decisions>
        <name>judgeContractInfo</name>
        <label>顧客情報いずれか一致</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>顧客情報いずれか不一致</defaultConnectorLabel>
        <rules>
            <name>judgeContractInfo_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isMatchFlowAny</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>顧客情報いずれか一致</label>
        </rules>
    </decisions>
    <decisions>
        <name>name_presence</name>
        <label>顧客名登録有無</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>顧客名無</defaultConnectorLabel>
        <rules>
            <name>name_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowToApex_name.exists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KeepName</targetReference>
            </connector>
            <label>顧客名有</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isBondNumberEmpty</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!bondNumber})</expression>
    </formulas>
    <interviewLabel>Identity Varification Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>本人確認</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>bondNumber_presence</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>birth</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>birth</elementReference>
        </value>
    </variables>
    <variables>
        <name>bondNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>car_number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isDummy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isMatchFirst</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isMatchFlowAny</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isMatchFlowCarNo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isMatchFlowTel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tel_number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
