force-app/main/default/flows/Identity_Verification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FlowToApex_bondNumber_name</name>
        <label>変数をApexに値渡し（証券番号、名前）</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IdentityVerificationVerifyContract</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>judge_ContractMatch</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bondNumber</name>
            <value>
                <elementReference>bomd_number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>input_name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IdentityVerificationVerifyContract</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>judge_ContractMatch</name>
        <label>契約情報一致判定</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>契約情報不一致</defaultConnectorLabel>
        <rules>
            <name>isContractMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>契約情報一致</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Identity Verification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Identity Verification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FlowToApex_bondNumber_name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bomd_number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isMatch</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
