force-app/main/default/flows/InsurancePremiumEstimate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>UniqueName</name>
        <label>保険料試算</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>InsuranceSimulatorAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>InsurancePremiumEstimate</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>carPrice</name>
            <value>
                <elementReference>carPrice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>deductible</name>
            <value>
                <elementReference>deductible</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>insuranceType</name>
            <value>
                <elementReference>insuranceType</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InsuranceSimulatorAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>InsurancePremiumEstimate</name>
        <label>割り当て</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>estimatedPremium</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UniqueName.estimatedPremium</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>保険料試算 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>保険料試算</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UniqueName</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>carPrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>deductible</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>estimatedPremium</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>insuranceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
