force-app/main/default/flows/recommend.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <description>車両保険の一般条件と車対車+限定危険を付帯希望するか</description>
        <name>check_coverageType</name>
        <label>補償タイプ確認</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>check_syaka</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>限定危険</defaultConnectorLabel>
        <rules>
            <name>coverageType_ippan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>coverageType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>一般</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_syaka</targetReference>
            </connector>
            <label>一般条件</label>
        </rules>
    </decisions>
    <description>車両保険おすすめ</description>
    <environments>Default</environments>
    <interviewLabel>車両保険おすすめ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>車両保険おすすめ</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>設定保険金額が適切か確認する</description>
        <name>check_syaka</name>
        <label>設定保険金額</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>syaka</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_coverageType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>車両保険タイプ（一般/限定危険）</description>
        <name>coverageType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>車両価格</description>
        <name>syaka</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
