force-app/main/02_actionConfiguration/actionCallbacks/flows/LogTransaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assign_Success</name>
        <label>Assign Success</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>LogTransaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Log Transaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Assign_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transaction_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>transaction_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <object>ASR_Payment_Transaction__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>transaction_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
